
// Colours
$primary-color   : #00d89e;  
$secondary-color : #3fa4f0;
$navbar-bg       : #eafffa;
$sub-head-bg     : #ccfff3; 
$error-color     : #ff5a5a;
$warning-color   : #f8d128;
$gray-color      : #e0e0e0;

// Fonts
$primary-font    : "Inconsolata", sans-serif;

